name: CI
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  run:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out repository code
        uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}
          
      - name: Set-up OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: 5

      - run: ocaml --version

      - run: opam install cohttp-lwt-unix ppx_deriving_yojson logs fmt

      - run: dune exec st-list

      - name: Git auto commit and push all changes
        uses: stefanzweifel/git-auto-commit-action@v6
        with:
          branch: doc
          push_options: '--force'
